body {
  height: 100%;
  display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(45deg,#264653,#2A9D8F,#e0be66,rgb(209, 140, 83),#E76F51);
    /* background: linear-gradient(45deg,#5F0F40,#720216,#c57020,#E36414,#0F4C5C); */

    background-size: 300% 300%;
    animation: color 30s ease-in-out infinite;
}

.react-p5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  position: absolute;
  z-index: -1;
  top: 100px;
  background-color: #13293100;
  width: 100vh;
}

@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

.spacer {
  flex: 1;
}

footer img {
  transition: all .25s ease 0s;
}

footer img:hover {
  transform: scale(1.4);
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  flex-direction: row;
  min-height: 10vh;
  background: linear-gradient(to bottom, rgba(38, 70, 83, 1) , rgba(38, 70, 83, 0));
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  left: 2px;
  z-index: 0;
  background-color: black;
  /* mix-blend-mode: difference; */
  border-radius: 20px;
  width: 100px;
  transition: all .25s ease 0s;
}

nav .about,a:nth-child(1):hover~.animation {
  left: 5px;
}
nav .projects,a:nth-child(2):hover~.animation {
  left: 122px;
}
nav .contact,a:nth-child(3):hover~.animation {
  left: 245px;
}
nav .resume,a:nth-child(4):hover~.animation {
  left: 371px;
}

nav {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  line-height: 30px;
}

nav a {
  z-index: 1;
  position: relative;
  padding: 5px 30px 5px 30px;
  /* margin: 0px 20px 0px 20px; */
  /* text-decoration: none; */
  color: white;
  text-decoration: none;
}

main {
  margin: 10px;
  padding: 10px;
  min-height: 73vh;
}

footer {
  min-height: 10vh;
  height: 50px;
  width: 100%;
  text-align: center;
}

footer img {
  max-width: 60px;
  padding: 10px;
  margin: 5px 10px 5px 10px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h3 {
  font-size: 70px;
  margin: 5px 0px 40px 0px;
}

#about-body {
  display: grid;
  grid-template-columns: repeat(25, 1fr);
  gap: 1px;
  align-items: center;
  margin-bottom: 30px;
}

.span3 {
  grid-column: span 3;
}

.span2 {
  grid-column: span 2;
}

.span6 {
  grid-column: span 6;
}

#portrait {
  max-width: 100%;
  border-radius: 25px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#about-body p {
  grid-column: span 12;
  font-size: calc(1.4vw + 10px);;
}

.project-body a img {
  max-width: 40px;
}

.gitlink {
  max-width: 50px;
  max-height: 50px;
  position: relative;
  top: -2px;
}

.project-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project-body .project-container {
  max-width: calc(40%);
  /* height: 300px; */
  margin: 0px 20px 0px 20px;
}

.ss {
  border-radius: 40px;
  width: 100%;
  height: 280px;
  transition: all .25s ease 0s;
}

.project-container:hover .ss {
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
  filter: blur(10px);
}

.project-container:hover .project-header {
  opacity: 1;
}

.project-header {
  position: relative;
  bottom: 60px;
  left: 25px;
  font-size: 25px;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.project-header a {
  -webkit-text-stroke: 1px black;
  text-decoration: none;
  color: white;
  padding: 0 5px 0 5px;
  transition: all .25s ease;
}

.project-header a:hover {
  font-size: 28px;
  color: rgb(138, 138, 138);
}

.project-header img {
  transition: all .25s ease;
}

.project-header img:hover {
  transform: scale(1.3);
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container form {
  width: 670px;
  height: 600px;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  flex-wrap: wrap;
}

.contact-container form h3 {
  color: black;
  font-size: 70px;
  /* font-weight: 700; */
  line-height: 2;
  margin-top: 20px;
  width: 500px;
  text-align: center;
}

.contact-container form input {
  width: 300px;
  height: 50px;
  padding-left: 10px;
  outline: none;
  border: none;
  font-size: 20px;
  margin-bottom: 10px;
  background: none;
  border-bottom: 2px solid rgba(38, 70, 83, 1);
  color: white;
}

.container form input::placeholder {
  color: white;
}

.contact-container form #form-email {
  margin-left: 20px;
}

.contact-container form h4{
  color: black;
   font-weight: 300;
   width: 600px;
   margin-top: 20px;
   margin-bottom: 0;
  font-size: 25px;
}

.contact-container form textarea {
  background: none;
  border: 2px solid rgba(38, 70, 83, 0.459);
  border-radius: 5px;
  color: white;
  font-weight: 200;
  font-size: 18px;
  padding: 10px;
  outline: none;
  min-height: 120px;
  max-height: 120px;
  min-width: 620px;
  max-width: 620px;
}

.contact-container form #button {
  border: none;
  background: white;
  border-radius: 15px;
  color: black;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(40px);
  transition: all .25s ease;
}

.contact-container form #button:hover {
  background-color: rgba(255, 255, 255, 0.425);
}

.red-outline {
  border: solid 2px rgba(255, 0, 0, 0.566)!important;
}

.contact-container h3 {
  margin-bottom: 0;
}

#input-error {
  font-size: 20px;
  color: red;
  text-align: center;
  margin-top: 0;
}

.d-none {
  display: none;
}


.red-p::placeholder{
  color: red;
}
.red {
  color: red!important;
}

.h-font {
  font-family:'Playfair Display', Courier, monospace;
  font-weight: 700;
}

* {
  font-family: 'Montserrat', Courier, monospace ;
}

/* .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form {
  display: flex;
  flex-direction:  column;
  width: 800px;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  background-color: #264653;
  color: white;
  border-radius: 20px;
  background-blend-mode: darken;
  padding: 15px 0px 15px 0px;
}

#contact-form input{
  width: 700px;
  padding: 15px;
}

form label {
  padding-bottom: 5px;
}

form button {
  
  margin: 15px;
} */
